<p id="notice"><%= notice %></p>

<p>
  <strong>Ques:</strong>
  <%= @question.ques %>
</p>

<p>
  <strong>Class:</strong>
  <%= @question.class1 %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

<h4> The answers submitted by students are </h4>


<table>
  <thead>
    <tr>
      <th>Ans</th>
      <th>Email of Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question.answers.each do |question| %>
      <tr>
        <td><%= question.ans %></td>
        <td><%= question.student.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
